.type-1226
{
    .line{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    padding-bottom: 45px;
    .dis-contact{
        display: inline-table;
    }
    .contact-page{
        padding-top: 10px;
    }
    .contact-page .bnfb:hover{
        background: #3b5998;
    }
    .contact-page .bnytb:hover{
        background: red;
    }
    .contact-page .bnins:hover{
        background: #E1306C;
    }

    .info
    {

        h1
        {
            font-weight: bold;
            border-bottom: 3px solid orange;
            display: inline-block;
            padding-bottom: 10px;
            font-size: 25px;
        }
        h2
        {
            font-size: 20px;
        }
        .bnfb{
            padding-left: 16px;
            padding-right: 16px;
            }
        a
        {
            border-radius: 13px;
            border: 1px solid black;
            display: inline;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 14px;
            padding-right: 14px;
            color: grey;
        }
      
        h5
        {
            font-size: 20px;
            padding-bottom: 40px;
        }
    }

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 750px) {
  
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
    .info
    {
          float: left;

    }  
    .bd-bn{
        border-left: 1px solid #ccc;
    }
    h2
    {
        font-size:1.2em ;
        padding-left: 20px;
    }
    h4
    {
        font-size:1.2em !important ;
        padding-left: 20px;
    }
    h5
    {
        font-size:1.2em ;
        padding-left: 20px;
    }
    .lh{
        margin-left: 20px;
        color: red;
    }
    a{
        margin-left:20px; 
    }
}
@media screen and (max-width: 1024px) {
        .info
        {
           
            h2
            {
                left: auto;
                padding-right: 52px;
            }
            h1
            {
            }
        }
    }

}



